* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input,
button,
textarea {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f5f5f5;
  color: #333;
  font-family: "Poppins", sans-serif;
}
/* input{
    outline: none;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
} */
.form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #4caf50;
}
.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.form-container button:hover {
  background-color: #45a049;
}
.form-inputs {
  margin-bottom: 15px;
}
.form-inputs label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}
.form-inputs input,
.form-inputs textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-inputs textarea {
  resize: none;
  height: 100px;
}
